<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Service Under Maintenance</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f3f3f3;
            font-family: 'Noto Sans KR', sans-serif;
        }
        .container {
            text-align: center;
        }
        h1 {
            font-size: 2.5em;
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>서비스 점검 중입니다</h1>
        <p>현재 서버 점검 중으로, 일시적으로 서비스 이용이 제한됩니다.</p>
        <br>
        <h1>Service Under Maintenance</h1>
        <p>We are currently undergoing server maintenance, and the service is temporarily restricted.</p>
        <br>
        <!-- <p>00:00 ~ 02:00</p> -->
    </div>
</body>
</html>