{% extends "base.html" %}
{% block title %}{{ name }} - {{ translations['비슷한 차트들로 본 주가 전망'] }}{% endblock %}
{% block og_title %}{{ name }} - {{ translations['비슷한 차트들로 본 주가 전망'] }}{% endblock %}
{% block og_image %}{{ url_for('static', filename='image_data/static_image/link_logo_' + lang + '.png') }}{% endblock %}
{% block og_description %}{{ name }}{{ translations['의 주가는 이후 상승할까요?'] }}{% endblock %}
{% block description %}{{ name }}{{ translations['의 주가는 이후 상승할까요?'] }}{% endblock %}
{% block content %}
<!DOCTYPE html>

<head>
</head>

<body>
    <div class="container">
        <div class='row justify-content-center'>
            <h3 style="text-align: center"><b>{{ translations['비슷한 차트 탐색 결과'] }}</b></h3>
        </div>
        <h4 class="mt-5" style="text-align: center"><b>{{ name }}</b> ({{ code }})</h4>
        <hr>
        <br>
        <br>
        <div class="justify-content-center" style="margin-top: 100px;">
            <p class="text-center" style="font-size: 1.2em;">{{ translations['정보가 없습니다.(신규상장 / 잦은 거래정지 / 비슷한 차트 수 부족 / 미지원 종목 / 상장폐지)'] }}</p>
        </div>
        <div class="row justify-content-center" style="margin-top: 200px;">
            <div class="col-6 d-flex justify-content-center">
                <button class="day_num_button" style="font-size:15px; padding: 11px 11px;" onclick="LoadingWithMask(); history.go(-1);">{{ translations['뒤로가기'] }}</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="{{ url_for('index', lang=lang) }}" class="day_num_button" style="font-size:15px; padding: 11px 11px;" onclick="LoadingWithMask();">{{ translations['메인으로'] }}</a>
            </div>
        </div>
        <div id="loadingcontainer"></div>
    </div>
</body>
</html>
{% endblock %}