mysql-connector-python
mplfinance
Flask
matplotlib
numpy
sqlalchemy
pandas
beautifulsoup4
pymysql
python-dateutil
plotly
gunicorn
scipy
redis
requests
googletrans
flask-login
bcrypt
exchange_calendars
cryptography