mysql-connector-python
mplfinance
Flask
matplotlib
numpy
sqlalchemy
pandas
beautifulsoup4
pymysql
python-dateutil
plotly
gunicorn
scipy
redis
requests
googletrans==4.0.0rc1
flask-login
bcrypt
exchange_calendars
cryptography